# Ignore virtual environment
venv/
myenv/
__pycache__/
*.pyc
*.pyo

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints

# Ignore IDE specific files
*.idea/
*.vscode/
*.sublime-project
*.sublime-workspace

# Ignore environment variables file
.env
